.social__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
    @media all and (max-width: 580px){
        flex-direction: column;
        align-items: flex-start;
    }

    &__item{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:not(:last-child){
            margin-right: 40px;

        }
        &__link{
            display: flex;
            align-items: center;
            font-family: 'Lato';
            font-weight: 600;
            font-size: 20px;
            text-decoration-line: underline;
            color: #0CAED5;
            gap: 24px;

            &:hover &__icon__vk {
                background-color: #7294C7;
                transition: background-color .3s ease-in-out;
            }
            &:hover &__icon__ut {
                background-color: #F40000;
                transition: background-color .3s ease-in-out;
            }
            &:hover{
                background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                transition: background-color s ease-in-out;
            }
            &__icon {
                position: relative;
                display: inline-block;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-left: 24px;
                margin-bottom: 29px;
                transition: background-color s ease-in-out;
                top: 14px;
                right: 26px;
                
            }
            &__text{
                margin-right: 16px;
            }
        }
    }
}   